<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <a href="/new">Create Message</a>
    <div class="messages-container">
      <% messages.forEach(item => { %>
          <div class="message-card">
            <div class="card-top">
              <p class="name"><%= item.user %></p>
              <p class="date"><%= item.added %></p>
            </div>
            <div class="card-bottom">
              <p><%= item.text %></p>
            </div>
          </div>
      <% }); %>
    </div>
  </body>
</html>
